.container-edit {
  width: 60%;
  display: flex;
  flex-direction: column;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin: 0 auto;
  margin-bottom: 40px;
}

.header-options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 10px;
}

.image {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.edit-button {
  color: blue;
  cursor: pointer;
}

.text-edit {
  width: 100%;
  height: 30vh;
  resize: vertical;
}

.container-preview {
    width: 90%;
    display: flex;
    flex-direction: column;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin: 0 auto;
    margin-bottom: 40px;
  }
  
  .header-options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
  }
  
  .image {
    width: auto;
    height: 20px;
    margin-right: 10px;
  }
  
  .edit-button {
    color: rgb(255, 255, 255);
    cursor: pointer;
  }
  
  .text-preview {
    width: 100%;
    height: 80vh;
    resize: vertical;
  }